{{#each data}}
	<article>
        <div>
          <p name="name"> <h4>{{this.name}}</h4> <br>Position: {{this.poistion}} <br> All-Star: {{this.allstar}} <br> Contract: {{this.contract}} million <br> Batting Avg:  {{this.batting_average}} <br> Teams Played On: {{this.teams_played_for}} <br> <p>             
        </div>
	</article>
{{/each}}